.form-container {
  position: absolute;
  top: 25%;
  left: 25%;
  /* transform: translate(-50%, -50%);
  height: auto;
  width: 30%; */
  width: 50%;
  /* background-color: #fff; */
  /* border-radius: 5px; */
  /* box-shadow: rgb(196, 196, 196) 0px 1px 0px; */
}

.form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-inner {
  /* width: 70%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.title {
  margin: 25px auto 0;
}

.form-subtitle {
  margin: 0 auto;
  opacity: 0.8;
  font-size: 0.8rem;
}

.submit h3 {
  margin: 0 auto;
}

.submit {
  color: #fff;
  background-color:#362312;
  margin: 0 auto 15px;
  width: fit-content;
  font-size: 1.5rem;
  padding: 15px;
}
