* {
  box-sizing: border-box;
}

body {
  background-color: #30384b;
  color: #eee;
  font-family: 'Nunito';
  min-height: 100vh;
}

button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  display: flex;
  width: 140px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: auto;
  border-radius: 4px;
  font-size: 16px;
  padding: 2px 12px;
  height: 28px;
  background: none;
  box-shadow: none;
  font-weight: 300;
}

/* button:focus {
  background-color: #202532;
} */

a {
  color: #5b5b5b;
  padding-bottom: 10px;
}
